//- extends ../layout

block content
  include ./layout
  include ./partials/modal

  //- button#openModal Open Modal
      
  // MAIN CONTENT
  .page-wrapper
    main.main-content
      .content-wrapper
        

        
  include ./partials/toast
  include ./partials/footer